doctype html
html
  head
    title Midman
    link(rel="stylesheet", href="/assets/build/main.css")
  body
    ul
      - for(var i in files)
        li
          a(href="#{ files[i] }") #{ files[i] }