@import 'normalize.css';

html{
  font-family: 'Lantinghei SC', Helvetica, Arial, 'Hiragino Sans GB', 'STHeiti', 'WenQuanYi Micro Hei', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body{
  padding-top: 2em;
}

.band{
  margin: 0;
  text-align: center;
}

#info{
  text-align: center;
  font-size: 12px;
  margin-bottom: 2em;
}

#file-list{
  width: 540px;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  margin: 0 auto;
  .item{
    padding: .6em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    &.even{
      background-color: #F2F2F2;
    }
    a{
      font-weight: 600;
      text-decoration: none;
      color: #000;

      &.btn{
        float: right;
        font-size: 14px;
        font-weight: normal;
      }
    }
  }
}